.flex {
    display: flex;
    justify-content: center;
}

main {
    height: 400px;
}

.last-attempt,
.current-attempt {
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: center;
}

.last-attempt {
    gap: 1rem;
}

.inputs-container, .guess, .validation {
    gap: 8.5px;
}

.inputs-container {
    margin-bottom: 1rem;
}

#spnError {
    color: red;
    justify-content: center;
    height: 1rem;
}

header, main, footer {
    border: 1px solid black;
}

header {
    position: relative;
}

input {
    width: 30px;
    height: 30px;
    text-align: center;
}

h1 {
    text-align: center
}

button {
    position: absolute;
    right: 2rem;
    bottom: 10px;
    height: 2rem;
}
